body{
    background-color: bisque;
}
.Main{
    
   
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(132, 209, 38);
    border-radius: 2px solid #000;
    width: 900px; 
}
.DemandInfo{
    /* width: 1610px;
    margin-left: auto;
    margin-right: auto; */
    
    
}
.County{
    vertical-align: top;
    display: inline-block;
    width: 270px;
    border: 1px solid #000;
}
.Date{
    display:inline-block;
    width: 270px;
    border: 1px solid #000;
}
.Time{
    display:inline-block;
    width: 270px;
    border: 1px solid #000;
}


.TodayInfo{
    /* width: 1610px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px; */
   
}
.WheatherImg{
    width: 240px;
    height: 240px;
    display: inline-block;
}
.Suggestion{
    vertical-align: top;
    display: inline-block;
    width: 330px;
    height: auto;
}
.WeatherInfo1{
    display: inline-block;
    vertical-align: top;
}
.WeatherInfo2{
    display: inline-block;
    vertical-align: top;
}


.WeekInfo{
    
    margin-left: auto;
    margin-right: auto;
   
}
.Mon{
    display: inline-block;
    border: 2px solid #000;
}
.Tou{
    display: inline-block;
    border: 2px solid #000;
}
.Wen{
    display: inline-block;
    border: 2px solid #000;
}
.Thu{
    display: inline-block;
    border: 2px solid #000;
}
.Fri{
    display: inline-block;
    border: 2px solid #000;
}
.Sat{
    display: inline-block;
    border: 2px solid #000;
}
.Sun{
    display: inline-block;
    border: 2px solid #000;
}
.Smallsun{
    width: 120px;
    height: 120px;
}


li{
    /* border: 1px solid #000; */
    text-align: left;
    list-style: none;
    
}

